<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qiwi_changellenge_it_Amnesia">

    <application
        android:name="com.example.qiwi_changellenge_it_amnesia.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.qiwi_changellenge_it_Amnesia">
        <activity
            android:name="com.example.qiwi_changellenge_it_amnesia.ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>